
<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="entrada1"></ion-input>
          <ion-button (click)="getPokemonDataID() " [ngClass]="{'bounce': bounceClass}">Enviar</ion-button>
        <ion-card >
          <ion-grid>
            <ion-row>
              <ion-col size="1">
                <img [src]="pokemon1.sprites.front_default">
              </ion-col>
              <ion-col>
                <ion-card-header>
                  <h2>{{ pokemon1.name }}</h2>
                  <p>ID: {{ pokemon1.id }}</p>
                </ion-card-header>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-input [(ngModel)]="entrada2"></ion-input>
        <ion-button (click)="getPokemonDataName() " [ngClass]="{'bounce': bounceClass}">Enviar</ion-button>
      <ion-card >
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <img [src]="pokemon2.sprites.front_default">
            </ion-col>
            <ion-col>
              <ion-card-header>
                <h2>{{ pokemon2.name }}</h2>
                <p>ID: {{ pokemon2.id }}</p>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
